::-webkit-scrollbar {
  width: 9px;
  background-color: #d0d0d0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0088cc;
  border-radius: 5px;
}

:root {
  --text-color: #121212;
  --bg-color: #f9f8f9;
  --bx-shadow: #121212;
  --link-color: #212121;
  --link-active: rgba(225, 225, 225, 0.4);
  --navbar-brand-color: #121212;

  --text-light-color: #121212;
  --bg-light-color: #f9f8f9;

  --text-dark-color: #f7f8f7;
  --bg-dark-color: #121212;

  --bx-light-shadow: #212121;

  --bx-dark-shadow: #f9f8f9;

  --link-light-color: #212121;

  --link-dark-color: #f7f8f7;

  --link-light-active: rgba(225, 225, 225, 0.4);

  --link-dark-active: rgba(240, 240, 240, 0.1);

  --navbar-brand-light-color: #121212;

  --navbar-brand-dark-color: #F8F7F8;
}

html.light {
  --text-color: #121212;
  --bg-color: #f9f8f9;
  --navbar-brand-color: #121212;
}

html.dark {
  --text-color: #f9f8f9;
  --bg-color: #121212;
  --navbar-brand-color: #F8F7F8;
}

html.light.dodger {
  --bx-shadow: dodgerblue;
  --link-color: dodgerblue;
  --navbar-brand-color: dodgerblue;
}

html.light.crimson {
  --bx-shadow: crimson;
  --link-color: crimson;
  --navbar-brand-color: crimson;
}

html.dark.dodger {
  --bx-shadow: dodgerblue;
  --link-color: dodgerblue;
}

html.dark.crimson {
  --bx-shadow: crimson;
  --link-color: crimson;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: transparent !important;
}

.navbar .navbar-brand {
  background-color: transparent !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: var(--navbar-brand-color) !important;
}

.navbar .navbar-toggler {
  color: var(--text-color);
  background-color: transparent !important;
}

.navbar .navbar-toggler:hover {
  box-shadow: 0 0 0 0.2rem var(--bx-shadow) !important;
}

.navbar ul li {
  display: flex;
}

.navbar ul li a {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--text-color);
  position: relative;
  letter-spacing: 1px;
}

.navbar ul li a.active::after,
.navbar ul li a:active::after,
.navbar ul li a:hover::after {
  content: "";
  display: inline-block !important;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--bx-shadow);
}

.navbar ul li a i {
  margin: 0 20px 0 0;
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.navbar ul li a.active,
.navbar ul li a:active,
.navbar ul li a:hover {
  color: var(--link-color);
}

.change-theme {
  display: flex;
  align-items: center;
}

.change-theme button {
  height: 50px;
  width: 50px;
  margin: 0 20px 0 0;
  border-radius: 15px;
  box-shadow: 0 0 0 0.08rem var(--bx-shadow);
  background-color: transparent !important;
  color: var(--bx-shadow);
  position: relative;
  font-size: 25px;
}

.change-theme button.crimson-button {
  box-shadow: 0 0 0 0.1rem crimson !important;
}

.change-theme button.dodger-button {
  box-shadow: 0 0 0 0.1rem dodgerblue !important;
}

.change-theme button:last-of-type {
  margin: 0 !important;
}

.crimson-theme,
.dodgerBlue-theme {
  border-radius: 50px;
  padding: 13.4px;
}

.crimson-theme {
  background-color: crimson !important;
}

.dodgerBlue-theme {
  background-color: dodgerblue !important;
}

@media (max-width: 1169px) {
  .navbar ul li a {
    padding: 15px 0;
    margin-top: 25px;
  }
  .change-theme {
    margin: 30px 0;
  }
}

@media (min-width: 1170px) {
  .navbar ul li a {
    justify-content: center;
    padding: 15px 20px !important;
  }

  .navbar ul li a i {
    font-size: 25px;
    margin: 0 10px 0 0;
  }

  .navbar ul li {
    margin-left: 25px;
  }

  .change-theme {
    margin: 0 !important;
  }
}
